node_modules/
dist/
build/
coverage/
/.parcel-cache
.cache/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz
.env
.env.local
.env.*.local
.DS_Store
.idea/
.vscode/
.history/
/.pnp
/.pnp.js
*.log
/.next
/.nuxt
/.expo
/.expo-shared
/.serverless
*.local
coverage/
tmp/
/.nyc_output
/.sass-cache
Thumbs.db
desktop.ini